@media print {
    body *:not(.print) {
    //   display: none;
        position: relative;
      overflow:visible;
    }
  }
.login-wrapper{
    width: 100vw;
    height: 100vh;
    background:  #eee;
    .login-form{
        width: 300px;
        background: #fff;
        border: 1px solid #ddd;
    }
}
.empty-wrapper{
    height: calc(100vh - 70px);
    .add-router-btn{
        width: 200px;
        height: 100px;
        background: #aaa;
        border: none;
        cursor: pointer;
        color: #eee;
        border-radius: 10px;
        &:hover{
            background: #888;
        }
    }
}
.card-mikrotik{
    background: #cfcfcf;
}

.mtk-table{
    padding: 2px;
}
.mtk-table-block{
    width: 24%;
    border: 1px solid #000;
    margin: 0;
    padding: 0;
    height: 54px;
    margin-bottom: 10px;
    margin-right: 2px;
    page-break-before: auto;
    page-break-after: auto;
    page-break-inside: avoid;
}